.date{
    color:   rgb(183, 153, 80) ;
  }


.boribory {
    display: flex;
    flex-direction: column;
    position: relative; 
}

.boribory::before {
    content: ""; 
    position: absolute; 
    top: 0.5rem; 
    width: 1rem; 
    height: 1rem;
    border-radius: 9999px; 
    left: -2.1875rem;
    z-index: 1; 
    background-color:  rgb(183, 153, 80); 
}







/* :root {
    --background-color-dark: #6d28d9; 
}

@media (prefers-color-scheme: light) {
    .boribory::before {
        background-color: var(--background-color-dark);
    }
} */
