.logoo {
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 12px;

}

.skillsname{
    width: 17%;
}

/* ecran phone kely*/
@media (max-width: 767px) {
    .skillsname{
        width: 43%;
    }
}

