.boxparents {
    background-color: #2A2B26;
    height: 50%;

}


.fullname{
    font-size: 1.6rem;
}


.profil img {

    border-radius: 2rem;
    width: 100%;
    background-color: #534E3B;
}

.function {
    background-color: #434135;
    width: 100%;
}

.icones {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.icones:hover{
    transform: 0.3s;
    transform: scale(1.09);
}


.boxparentsadress {
    padding: 1rem;
}

.name{
    border-bottom: solid 2px #373330;
}

.CV{
    background-color: #434135;
    width: 75%;
    margin-bottom: 1rem;
    color: rgb(183, 153, 80);
}
.btnopen{
    background-color: #7A6E4F;
    top: 0;
    right: 0; 
    border-bottom-left-radius: 17px;
}
@media (max-width: 1200px) {
  
}

/* ecran phone kely*/
@media (max-width: 768px) {

}

/* ecran phone kely be*/
@media (max-width: 480px) {

}