.navparents {
    position: relative;
    background-color: violet;

}

.active {
    color: rgb(183, 153, 80);
    font-size: 1rem;
    font-weight: 700;
}

.Non_active {
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.navNavLink {
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #534E3B;
    ;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 17px;
    padding: 1.5rem;
    padding-right: 4rem;
    padding-left: 4rem;

}

.cvlink {
    display: none;
}

@media (max-width: 1200px) {}


@media (min-width: 768px) and (max-width: 1024px) {
    .cvlink {
        display: block;
    }

    .navNavLink {
        padding: 1.5rem;
        padding-right: 2rem;
    }

}

/* ecran phone kely*/
@media (max-width: 768px) {}

/* ecran phone kely be*/
@media (max-width: 480px) {}


/* Styles hoan Surface Duo 2 mode simple écran */
@media only screen and (max-width: 1344px) and (max-height: 1892px) {
    .navNavLink {
        padding: 1.5rem;
        padding-right: 2rem;
    }
}