
.boxparents{
    background-color: #2A2B26;
    
}

.childbox{
    /* background-color: green; */
}

.profil {
    /* background-color: red; */

}



.profil img {
 
    border-radius: 2rem;
    width: 100%;
    background-color: #534E3B;
}

.function{
    background-color: #434135;
    width: 100%;
}

.icon{
    background-color: maroon;
}