.boxparents {
    background-color: #2A2B26;
    height: 50%;
    max-width: 24rem;

}


.fullname{
    font-size: 1.6rem;
}


.profil img {

    border-radius: 2rem;
    width: 100%;
    background-color: #534E3B;
}

.function {
    background-color: #434135;
    width: 100%;
}

.icones {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.icones:hover{
    transform: 0.3s;
    transform: scale(1.09);
}


.boxparentsadress {
    padding: 1rem;
}

.name{
    border-bottom: solid 2px #373330;
}

.CV{
    background-color: #434135;
    width: 75%;
    margin-bottom: 1rem;
    color: rgb(183, 153, 80);
    transition: 0.4s;
}
.CV:hover{
    
  transform: scale(1.04);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 1200px) {
  .boxparents{
    max-width: 20rem;
  }
}
@media (max-width: 1280px) {
  .boxparents{
    max-width: 20rem;
  }
}

/* ecran phone kely*/
@media (max-width: 768px) {

}

/* ecran phone kely be*/
@media (max-width: 480px) {

}
/* Styles hoan Surface Duo 2 mode simple écran */
@media only screen and (max-width: 1344px) and (max-height: 1892px) {
    .boxparents{
        max-width: 18rem;
      }

      .profil img{
        padding: 0;
      }
  }
  